<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <td class="main-block__wrap" style="padding-bottom: 24px">
                <p
                  style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;
                  "
                >
                  Здравствуйте, это команда Octo Browser и мы готовы вам помочь!
                  <br />Посмотрите видео, чтобы начать работу.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- Image section -->
      <tr>
        <td class="main-block__img" style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__wrap full-width">
                <img
                  src="https://i.ibb.co/v19MVyM/image-4-ru.png"
                  width="536"
                  alt="#"
                  border="0"
                  style="border-radius: 20px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text section -->
      <tr>
        <td>
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <tr>
              <td class="main-block__wrap" style="padding-bottom: 24px">
                <p
                  style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;
                  "
                >
                  Если у вас есть промокод, введите его при первом запуске Octo
                  Browser или в вашем личном кабинете.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- Button/link section -->
      <tr>
        <td class="">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td
                class="btn"
                style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                "
              >
                <a
                  href="#"
                  title="#"
                  target="_blank"
                  rel="noopener"
                  style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 16px 20px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 4px;
                  "
                >
                  &nbsp;&nbsp;Выбрать тариф&nbsp;&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
    </table>
  </td>
</tr>
