<!-- Text section -->
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 10px;">
    <span style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;">

    </span>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 24px;">
    <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;">

    </p>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 24px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
      <tr>
        <td align="center" class="main-block__img">
          <img src="" width="400" alt="#" border="0" style="width: 400px;" />
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
                padding-bottom: 24px;
                border-bottom: 1px solid #727272;">
    <p style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;">

    </p>
  </td>
</tr>
<!-- End Text section -->
